/**
 * "messenger" page
 */
.messenger {
  background: radial-gradient(circle, #757575 0%, #164582 100%);
  .rooms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0 13rem;
    .room + .room {
      margin-top: 2rem;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    span {
      color: $white;
      margin-bottom: 1.5rem;
      opacity: .5;
    }
  }
}
