/**
 * "messenger" page
 */
.messenger {
  overflow: hidden;
  background: radial-gradient(circle, #757575 0%, #164582 100%);
}
.rooms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem 0;
  .room + .room {
    margin-top: 2.5rem;
  }
}
