@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes blink {
  0%   {opacity: 1.0;}
  50%  {opacity: 0;}
  100% {opacity: 1.0;}
}

@keyframes letterAnim1 {
  0%   { bottom: -30%; transform : rotate(0deg) scale(1); }
  50%  { bottom: 50%; transform : rotate(140deg) scale(1); }
  99%  { opacity: 1; }
  100% { bottom: 400%; transform: rotate(200deg) scale(35); opacity: 0; }
}

@keyframes letterAnim2 {
  0%   { left: -30%; top: -30%; transform: rotate(0deg) scale(2); }
  50%  { left: 50%; top: 50%; transform: rotate(150deg) scale(2); }
  99%  { opacity: 1; }
  100% { left: 400%; transform: rotate(210deg) scale(40); opacity: 0; }
}

@keyframes letterAnim3 {
  0%   { left: 0%; top: 20%; transform: rotate(50deg) scale(0); }
  50%  { opacity: 1; }
  100% { left: 130%; top:40%; transform: rotate(220deg) scale(30); opacity: 0; }
}
