@font-face {
  font-family: 'Noto Sans CJKjp';
  font-weight: 400;
  src: url(../../fonts/NotoSansCJKjp/NotoSansCJKjp-Regular.woff) format('woff'),url(../../fonts/NotoSansCJKjp/NotoSansCJKjp-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Naskh Arabic';
  font-weight: 400;
  src: url(../../fonts/NotoNaskhArabic/NotoNaskhArabic-Regular.woff) format('woff'),url(../../fonts/NotoNaskhArabic/NotoNaskhArabic-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans Cypriot';
  font-weight: 400;
  src: url(../../fonts/NotoSansCypriot/NotoSansCypriot-Regular.woff) format('woff'),url(../../fonts/NotoSansCypriot/NotoSansCypriot-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans Hebrew';
  font-weight: 400;
  src: url(../../fonts/NotoSansHebrew/NotoSansHebrew-Regular.woff) format('woff'),url(../../fonts/NotoSansHebrew/NotoSansHebrew-Regular.woff2) format('woff2');
}
