.header {
  width: 100vw;
  height: 6.25rem;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  @media screen and (min-width: 960px) {
    padding: 0.96875rem 1.375rem;
    width: 100vw;
    height: 4rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
