/**
 * <.nav /> component style
 *
 */
.pagination {
  position: absolute;
  width: 100vw;
  height: 3.75rem;
  background: red;
  @include respond-to(37.5rem) {
    width: 3.25rem;
    height: 100vh;
    background: #273442;
    box-shadow: 1px 0 4px 0 rgba(0,0,0,0.27);
  }
}
