/**
 * <.nav /> component style
 *
 */
.pagination {
  position: absolute;
  width: 100vw;
  height: 3.75rem;
  background: red;
  @include respond-to(31.25rem) {
    width: 3.25rem;
    height: 49.565rem;
    background: #273442;
    box-shadow: 1px 0 4px 0 rgba(0,0,0,0.27);
  }
}
