/**
 * <.storyTelling />
 */
.storyTelling {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  background: radial-gradient(circle, #2A2A2A 0%, #07182C 100%);

  // Responsive notebooks (1280px)
  @include respond-to(80rem) {
    flex-direction: row;
  }

  &__sections {
    display: flex;
    flex-direction: column;
  }

  &__section {
    height: 100vh;

    &:nth-of-type(1) .storyTelling__wrapper {
      padding-top: 10.625rem;

      // Responsive notebooks (1280px)
      @include respond-to(80rem) {
        padding-top: 3.75rem;
      }
    }
  }

  &__wrapper {
    // border: thin solid orange;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
    width: 100vw;
    min-height: 100vh;
    padding: 85px 0 0 0;

    // Responsive notebooks (1280px)
    @include respond-to(80rem) {
      flex-direction: row;
    }
  }

  &__content {
    // border: thin solid red;
    height: 60%;
    padding: 0 1.5625rem;

    // Responsive notebooks (1280px)
    @include respond-to(80rem) {
      min-height: 100vh;
      flex: 1;
      padding: 13.75rem 1.5625rem 0 13.4375rem;
    }

    // Responsive laptops (1600px)
    @include respond-to(100rem) {
      padding-top: 7.8125rem;
    }
  }

  &__title {
    font-family: 'Noto Serif';
    text-transform: uppercase;
    font-size: 1.875rem;
    line-height: 2.5625rem;
    letter-spacing: 0.4375rem;
    color: #FFFFFF;
    text-shadow: 0 0 3px white;

    // Responsive notebooks (1280px)
    @include respond-to(80rem) {
      font-size: 40px;
    }

    // Responsive laptops (1600px)
    @include respond-to(100rem) {
      font-size: 50px;
    }
  }

  &__text {
    font-size: 1rem;
    line-height: 33px;
    color: #FFFFFF;
    text-shadow: 0 1px 0 0 rgba(0,0,0,0.56);

    // Responsive notebooks (1280px)
    @include respond-to(80rem) {
      font-size: 20px;
    }

    // Responsive laptops (1600px)
    @include respond-to(100rem) {
      font-size: 22px;
      padding-right: 40px;
    }
  }

  &__wheel {
    font-weight: bold;
    color: black;
    padding: .3125rem .5rem;
    background-color: #FFFFFF;

    // Responsive laptops (1600px)
    @include respond-to(100rem) {
      padding: 0.125rem 0.25rem;
    }
  }

  &__italic {
    font-style: italic;
  }

  &__hiddingOnMobile{
    display: none;
    // Responsive notebooks (1280px)
    @include respond-to(80rem) {
      display: block;
    }
  }

  &__hiddingOnDesktop{
    // Responsive notebooks (1280px)
    @include respond-to(80rem) {
      display: none;
    }
  }

  .storyTelling__figure {
    position: relative;
    // border: thin solid green;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 40vh;

    // Responsive notebooks (1280px)
    @include respond-to(80rem) {
      flex: 1;
      min-height: 100vh;
    }

    // Responsive laptops (1600px)
    @include respond-to(100rem) {
      padding-right: 5vw;
    }

    &--history p:nth-child(1) {
      position: absolute;
      z-index: 30;
      top: -0.9375rem;
      left: 15vw;
      font-size: 3.75rem;
      font-weight: bold;
      line-height: 3.9375rem;
      color: #FFFFFF;

      span {
        font-size: 2.5rem;
        font-weight: normal;
      }

      // Responsive tablets (1024px)
      @include respond-to(64rem) {
        left: 45vw;
      }

      // Responsive notebooks (1280px)
      @include respond-to(80rem) {
        top: 30%;
        left: 10%;
        font-size: 180px;
      }

      // Responsive laptops (1600px)
      @include respond-to(100rem) {
        left: -3vw;
      }

      // Responsive highres laptops (1920px)
      @include respond-to(120rem) {
        top: 27%;
        left: 7vw;
      }
    }

    &--history div:nth-child(2) {
      position: absolute;
      z-index: 20;
      top: 25%;
      left: 20vw;
      width: 8.3125rem;
      height: 2.5rem;
      background-color: rgba(#C29102, 0.7);
      opacity: 0.9;
      filter: alpha(opacity=90) saturate(110%);

      // Responsive phablets (600px)
      @include respond-to(37.5rem) {
        width: 15.1875rem;
        height: 5.75rem;
        opacity: .7;
      }

      // Responsive tablets (1024px)
      @include respond-to(64rem) {
        left: 50vw;
      }

      // Responsive notebooks (1280px)
      @include respond-to(80rem) {
        top: 28%;
        left: 25%;
        width: 17.5rem;
        height: 6.25rem;
      }

      // Responsive laptops (1600px)
      @include respond-to(100rem) {
        left: 2vw;
      }

      // Responsive highres laptops (1920px)
      @include respond-to(120rem) {
          top: 25%;
          left: 10vw;
      }
    }

    &--history img:nth-child(3) {
      position: absolute;
      z-index: 10;
      top: 10%;
      left: 10vw;
      width: 11.25rem;
      height: 13.125rem;
      object-fit: fill;
      object-position: center;

      // Responsive phablets (600px)
      @include respond-to(37.5rem) {
        width: 210px;
        height: 240px;
        left: 35vw;
      }

      // Responsive tablets (1024px)
      @include respond-to(64rem) {
        left: 45vw;
      }

      // Responsive notebooks (1280px)
      @include respond-to(80rem) {
        width: 230px;
        height: 290px;
        top: 20%;
        left: 0;
      }

      // Responsive laptops (1600px)
      @include respond-to(100rem) {
        top: 12%;
        left: -2vw;
      }

      // Responsive highres laptops (1920px)
      @include respond-to(120rem) {
        left: 5vw;
      }
    }

    &--history img:nth-child(4) {
      position: absolute;
      z-index: 1;
      bottom: -2vh;
      right: 0;
      width: 250px;
      height: 200px;
      align-self: flex-end;
      object-fit: fill;
      object-position: center;

      // Responsive phablets (600px)
      @include respond-to(37.5rem) {
        width: 300px;
        height: 250px;
      }

      // Responsive tablets (1024px)
      @include respond-to(56.25rem) {
        width: 400px;
        height: 300px;
      }

      // Responsive notebooks (1280px)
      @include respond-to(80rem) {
        top: 20%;
        width: 400px;
        height: 400px;
      }

      // Responsive laptops (1600px)
      @include respond-to(100rem) {
        top: 10%;
        right: 4vw;
        width: 540px;
        height: 500px;
      }
    }
  }
}
