/**
 * <.storyTelling />
 */
.storyTelling {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  background: radial-gradient(circle, #2A2A2A 0%, #07182C 100%);

  @include respond-to(37.5rem) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    top: 4rem;
  }

  &__sections {
    display: flex;
    flex-direction: column;
  }

  &__section {
    height: 100vh;

    &:nth-of-type(1) .storyTelling__wrapper {
      padding-top: 10.625rem;
    }
  }

  &__wrapper {
    // border: thin solid orange;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
    width: 100vw;
    min-height: 100vh;
    padding: 85px 0 0 0;

    @include respond-to(600px) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__content {
    // border: thin solid red;
    height: 60%;
    padding: 0 1.5625rem;
  }

  &__title {
    font-family: 'Noto Serif';
    text-transform: uppercase;
    font-size: 1.875rem;
    line-height: 2.5625rem;
    letter-spacing: 0.4375rem;
    color: #FFFFFF;
    text-shadow: 0 0 3px white;
  }

  &__text {
    font-size: 1rem;
    line-height: 33px;
    color: #FFFFFF;
    text-shadow: 0 1px 0 0 rgba(0,0,0,0.56);
  }

  &__wheel {
    font-weight: bold;
    color: black;
    padding: .3125rem .5rem;
    background-color: #FFFFFF;
  }

  &__italic {
    font-style: italic;
  }

  &__hiddingOnMobile{
    display: none;
    @include respond-to(37.5rem) {
      display: block;
    }
  }

  &__hiddingOnDesktop{
    @include respond-to(37.5rem) {
      display: none;
    }
  }

  .storyTelling__figure {
    position: relative;
    // border: thin solid green;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 40vh;

    &--history p:nth-child(1) {
      position: absolute;
      z-index: 30;
      top: -0.9375rem;
      left: 15%;
      font-size: 3.75rem;
      font-weight: bold;
      line-height: 3.9375rem;
      color: #FFFFFF;

      span {
        font-size: 2.5rem;
        font-weight: normal;
      }
    }

    &--history div:nth-child(2) {
      position: absolute;
      z-index: 20;
      top: 25%;
      left: 20%;
      width: 8.3125rem;
      height: 55px;
      background-color: rgba(#C29102, 0.7);
      opacity: 0.9;
      filter: alpha(opacity=90) saturate(110%);

      @include respond-to(37.5rem) {
        width: 15.1875rem;
        height: 5.75rem;
        opacity: .7;
      }

      @include respond-to(60.625rem) {
        width: 19rem;
        height: 8.75rem;
        opacity: .7;
      }
    }

    &--history img:nth-child(3) {
      position: absolute;
      z-index: 10;
      top: 10%;
      left: 10%;
      width: 11.25rem;
      height: 13.125rem;
      object-fit: fill;
      object-position: center;
    }

    &--history img:nth-child(4) {
      position: absolute;
      z-index: 1;
      bottom: -5%;
      right: 0;
      width: 250px;
      height: 200px;
      align-self: flex-end;
      object-fit: fill;
      object-position: center;
    }
  }
}
