.tofu {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: $grey;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.33;
    width: 100vw;
    font-size: 150%;
    font-weight: bold;
    text-transform: uppercase;

    h2 {
     display: flex;
     justify-content: center;
   }

  }

  // input where characters are typed
  &__input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.33;
    width: 100vw;
    font-size: 300%;

    &__typebar {
      justify-content: center;
      align-items: center;
      animation: blink 1s ease infinite;
    }

    &__characters {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      font-size: 340%;
    }

  }

  // space bar
  .tofu__spacebar {
    display: none;
    justify-content: center;
    align-items: center;
    flex: 0.33;
    width: 100vw;
    transition: display 1s ease;

    &__button {
      background: $tofu-white;
      border: 3px solid $grey;
      border-radius: 100px;
      justify-content: center;
      position: absolute;
      padding: 8px 15px;
      width: 400px;
      height: 90px;
      font-size: 30px;

      &--down::before {
        position: absolute;
        z-index: -1;
        justify-content: center;
        border: 3px solid $grey;
        border-radius: 100px;
        left: -1px;
        top: 0;
        margin-top: 8px;
        width: 100%;
        height: 100%;
        content: "";

      }

      &_fill {
        position: absolute;
        z-index: 0;
        background: url('https://c2.staticflickr.com/5/4034/4544827697_6f73866999_n.jpg') no-repeat;
        background-size: 0px 90px;
        border-radius: 100px;
        opacity: .7;
        width: 400px;
        height: 90px;
      }

    }

    &__circle {
      display: none;
      position: absolute;
    }

  }

  // character apparition animation
  &__animation {
    padding-top:20px;
    font-size: 275%;
    animation: fadeIn .7s ease-in;
  }

}

// transitions //

.fillAnimation{
  margin-top:10px;
  background-size:400px 90px!important;
  transition: background-size linear;
}

.circleGrowth {
  transition: all 2s ease;
}
