.tofu {
  color: $grey;
  &__title {
    text-transform: uppercase;
  }
  &__span {
    animation: blink 1s ease infinite;
  }
  &__input {
    font-size: 300%;
  }
  &__character {
    margin: 0 5px;
    font-size: 340%;
  }
  &__button {
    display: none;
    border-radius: 2px;
    border: 2px solid $grey;
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px auto 0 auto;
    animation: fadeIn 2s ease;
    &:hover {
      cursor: pointer;
    }
  }
  &__animation {
    opacity: 1;
    font-size: 300%;
    animation: fadeIn .7s ease-in;
  }
}
