{# index.twig #}
{% extends "layout.twig" %}

{% block main %}
  <section>
    <article class="article">
      <span class="article__title article__title--strong">Article #1</span>
    </article>
    <article class="article">
      <span class="article__title">Article #2</span>
    </article>
    <article class="article article--highlighted">
      <span class="article__title">Article #2</span>
    </article>
  </section>
{% endblock %}
