{# index.twig #}
{% extends "layout.twig" %}

{% block main %}
  <section class="sidebar">
  </section>
  <section class="histoiry__section">
    <div class="history__container">
      <div class="history__content">
        <h1 class="history__title">History</h1>
        <p class="history__paragraph">
          Human beings have always been looking for a way to interact
          with each other.
        </p>
        <p class="history__paragraph">
          As of today, there are more than <span class="history__number">7000</span>
          languages to <div class="history__casino"><p>discover the world</p></div>
        </p>
        <p class="history__paragraph">
          Yet, one problem is still holding us back ...The Tofu
        </p>
      </div>
      <div class="history__figure">
      </div>
    </div>
  </section>
{% endblock %}
