{# index.twig #}
{% extends "layout.twig" %}

{% block main %}
<section class="tofu">
  <div class="tofu__title">
    <h2>Say Hello</h2>
  </div>
  <div class="tofu__input">
    <span class="tofu__input__typebar">|</span>
  </div>
  <div class="tofu__spacebar">
    <button type="button" name="button" class="tofu__spacebar__button tofu__spacebar__button--down"></button>
    <button type="button" name="button" class="tofu__spacebar__button_fill"></button>
  </div>
</section>
{% endblock %}

{% block script %}
<script src="js/home.js"></script>
{% endblock %}
