{# index.twig #}
{% extends "layout.twig" %}

{% block main %}
<section class="tofu">
    <h2 class="tofu__title">Say Hello</h2>
    <div class="tofu__input"></div>
    <div class="tofu__input"><span class="tofu__span">|</span></div>
    <!-- <button type="button" name="button" class="tofu__button">Eat that tofu</button> -->
    <div class="tofu__buttons">
      <button type="button" name="button" class="tofu__button2 tofu__button2__bottom"></button>
      <button type="button" name="button" class="tofu__button2 tofu__button2__up"></button>
      <button type="button" name="button" class="tofu__button2__fill"></button>
    </div>
    <div class="lol"></div>
</section>
{% endblock %}

{% block script %}
<script src="js/home.js"></script>
{% endblock %}
