{# layout.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#fb9f9b">
  <title>Noto Font by Google</title>
  <link rel="stylesheet" href="css/critical.css" inline>
  <link rel="stylesheet" href="css/style.css" loadCSS>
</head>
<body>
  <header class="header">
    <a class="header__logo" href="index.html"><img src="img/Logo.svg" alt="" /></a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item--active"><a class="nav__link" href="history.html">Introducing noto</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Credits</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Space</a></li>
        <li class="nav__item"><a target="_blank"class="nav__link nav__link--hiddenOnMobile nav__link--button" href="https://www.google.com/get/noto/">Download</a></li>
      </ul>
    </nav>
  </header>
  <main class="main">
    {% block main %}{% endblock %}
  </main>
  <script src="js/index.js"></script>
</body>
</html>
