<!doctype html>
<html>
  <head>
    <title>Notoboard</title>
    <link rel="stylesheet" href="http://localhost:8000/css/critical.css" inline>
    <link rel="stylesheet" href="http://localhost:8000/css/style.css" loadCSS>
  </head>
  <body style="background-color: #2F63A4;">
    <ul class="messages"></ul>
    <div class="rooms"></div>
    <h4 class="url-connection"></h4>
    <script src="js/notoboard.js"></script>
  </body>
</html>
