{# index.twig #}
{% extends "layout.twig" %}

{% block main %}
  <div class="storyTelling">
    <nav class="pagination">

    </nav>
    <div class="storyTelling__sections">
      <section class="storyTelling__section">
        <div class="storyTelling__wrapper">
          <div class="storyTelling__content">
            <h1 class="storyTelling__title">History</h1>
            <p class="storyTelling__text">
              Human beings have always been looking for a way to interact with each other.<br>
              As of today, there are more than 7.000
              languages to <span class="storyTelling__wheel">discover the world.</span><br>
              <span class="storyTelling__italic">Yet, one problem is still holding us back…</span>
            </p>
          </div>
          <div class="storyTelling__figure storyTelling__figure--history">
            <p>the Tofu</p>
            <img src="img/babel.png" alt=""/>
            <img src="img/rosette.png" alt=""/>
          </div>
        </div>
      </section>
      <section class="storyTelling__section">
      </section>
    </div>
  </section>
{% endblock %}
