{# index.twig #}
{% extends "layout.twig" %}

{% block main %}
  <div class="storyTelling">
    <nav class="pagination">
      <ul class="pagination__list">
        <li class="pagination__item is-active" data-title="chapter 1"><a href="#"></li></a>
        <li class="pagination__item" data-title="context"><a href="#"></li></a>
        <li class="pagination__item" data-title=""><a href="#"></li></a>
        <li class="pagination__item"><a href="#"></li></a>
      </ul>
    </nav>
    <div class="storyTelling__sections">
      <section class="storyTelling__section">
        <div class="storyTelling__wrapper">
          <div class="storyTelling__content">
            <h1 class="storyTelling__title">History</h1>
            <p class="storyTelling__text">
              Human beings have always been looking for a way to interact with each other.<br><br>
              As of today, there are more than 7.000
              languages to <span class="storyTelling__wheel">discover the world.</span><br><br>
              <span class="storyTelling__italic">Yet, one problem is still holding us back…</span>
              <span class="storyTelling__hiddingOnMobile">The Tofu.</span>
            </p>
          </div>
          <div class="storyTelling__figure storyTelling__figure--history">
            <p><span class="storyTelling__hiddingOnDesktop">the<br></span>Tofu</p>
            <div></div>
            <img src="img/rosette.png" alt="Rosetta stone greyscale image"/>
            <img src="img/babel.png" alt="Babel tower greyscale image"/>
          </div>
        </div>
      </section>
      <section class="storyTelling__section">
        <div class="storyTelling__wrapper">
          <div class="storyTelling__content">
            <h1 class="storyTelling__title">Context</h1>
            <p class="storyTelling__text">
              Most of the content we read is written with the Latin alphabet,
              but there are many others used around the world.
              <span>Sometimes, you end up with </span><span class="storyTelling__wheel">a Tofu</span>.<br><br>
              So... what happens when you want to display a text in Malayalam or in Cherokee ?
              And that’s the same with plenty of the hundreds scripts used around the world.
            </p>
          </div>
          <div class="storyTelling__figure storyTelling__figure--history">
            <p><span class="storyTelling__hiddingOnDesktop">Say no<br>to </span>tofus!</p>
            <div></div>
            <!-- <p>□</p> -->
            <img src="img/people.png" alt="Greyscale picture of a group in a crowd"/>
          </div>
        </div>
      </section>
    </div>
  </section>
{% endblock %}
