{# index.twig #}
{% extends "layout.twig" %}

{% block main %}
  <section class="tofu">
      <h2 class="tofu__title">Type anything...</h2>
      <div class="tofu__input"></div>
      <button type="button" name="button" class="tofu__button">No more tofu !</button>
  </section>
{% endblock %}
