/**
 * <.label /> component style
 */
.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1em;
  color: rgba($white, .125);
  z-index: -1;
  pointer-events: none;
}
