/**
 * <.messages /> component style
 *
 */
.messages {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  &__single {
    width: 7rem;
    height: 3rem;
    // Will be removed
    margin-bottom: 1rem;
    position: relative;
    border-radius: .5rem;
    color: white;
    text-align: right;
    &:before {
      content: '';
      position: absolute;
      background-color: inherit;
      border-radius: 50%;
      bottom: 0;
      transform: translateY(25%);
      left: 0;
      width: 1rem;
      height: 1rem;
    }
    &:after {
      content: attr(data-date);
      position: absolute;
      display: flex;
      right: 0;
      bottom: -3.3rem;
      color: black;
      font-size: .6rem;
    }
  }
}

.messages {}
