/**
* <splash /> component
*/
.splash {
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  width: 100vw;
  justify-content: center;
  align-items: center;
  font-size: 15vw;
  color: #192F53;
  font-weight: 700;
  z-index: -1;
  &::before {
    content: '';
    position: absolute;
    width: 5vw;
    height: .6rem;
    background-color: #192F53;
    left: 0;
    top: 50%;
  }
  &::after {
    content: '';
    top: 50%;
    position: absolute;
    right: 0;
    width: 5vw;
    height: .6rem;
    background-color: #192F53;
  }
}
