/**
* <.thanks /> component
*/
.thanks{
  &__section {
    width: 100vw;
    height: 100vh;
  }
  &__wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  &__img {
    width: 240%;
    animation: scrollup 50s linear alternate infinite;
    @include respond-to(41.25rem) {
      width: 140%;
    }
    @include respond-to(60rem) {
      width: 100%;
    }
  }
  &__content {
    position: absolute;
    top: 8rem;
    left: 1.25rem;
    @include respond-to(60rem) {
      left: 2.5rem;
    }
  }
  &__title {
    width: 18.75rem;
    font-family: 'Noto Sans';
    font-size: 3.75rem;
    font-weight: bold;
    line-height: 3.75rem;
    color: #FFFF3C;
    text-decoration: underline;
    @include respond-to(41.25rem) {
      font-size: 5rem;
      line-height: 5rem;
      width: 25rem;
      text-decoration: underline;
      margin-bottom: 1.5rem;
    }
    @include respond-to(60rem) {
      width: 37.5rem;
      font-size: 6rem;
      line-height: 6rem;
    }
  }
  &__paragraph {
    width: 21.875rem;
    font-family: "Noto Sans";
    font-size: 0.875rem;
    color: $white;
    line-height: 1.8em;
    @include respond-to(41.25rem) {
      width: 23.75rem;
    }
    @include respond-to(60rem) {
      width: 26rem;
      height: 7rem;
      font-size: 1rem;
    }
  }
  &__button {
    display: block;
    width: 12rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    background: white;
    border-radius: 0.125rem;
    text-decoration: none;
    color: #467df8;
    margin-top: 3.75rem;
    padding-bottom: .1rem;
    box-shadow: 0 1px 6px 0 rgba($black, .57);
    transition: all ease-out 200ms;
    @include respond-to(60rem) {
      margin-top: 2.5rem;
    }
    &__text--italic {
      text-transform: uppercase;
    }
    &:hover {
      background-color: #4179F7;
      box-shadow: 0 1px 6px 0 rgba($black, .57);
      color: $white;
      transition: all ease-in 300ms;
    }
  }
  &__social{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: 1.75rem;
    right: 1.25rem;
    width: 6.25rem;
    height: 6.25rem;
    &--twitter{
      width: 2.5rem;
      @include respond-to(60rem) {
        width: 2.5rem;
        bottom: 6.25rem;
        right: 3.125rem;
      }
    }
    &--google{
      width: 3.125rem;
      @include respond-to(41.25rem) {
        width: 3.75rem;
      }
      @include respond-to(60rem) {
        width: 3.75rem;
      }
    }
  }
}
@keyframes scrollup {
  100%{
    transform: translateY(-25%);
    @include respond-to(60rem) {
      transform: translateY(-50%);
    }
  }
}
