{# layout.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#457DF3">
  <title>Noto by Google</title>
  <link rel="icon" href="img/favicon.png">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/allfonts.css">
</head>
<body class="{{page}}">
  {% if page != "homepage" %}
    <header class="header">
      <a class="header__logo" href="index.html">
        <img src="img/logo.svg" alt="Noto by Google" />
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link {{ page == 'storytelling' ? 'is-active' : '' }}" href="storytelling.html">Introducing Noto</a></li>
          <li class="nav__item"><a class="nav__link {{ page == 'credits' ? 'is-active' : '' }}" href="thanks.html">Credits</a></li>
          <li class="nav__item"><a class="nav__link {{ (page == 'space' or page == 'messenger') ? 'is-active' : '' }}" href="space.html">Space</a></li>
          <li class="nav__item"><a target="_blank" class="nav__link nav__link--button" href="https://www.google.com/get/noto/">Download</a></li>
        </ul>
      </nav>
    </header>
  {% endif %}
  <main class="main">
    {% block main %}{% endblock %}
  </main>
  <script src="js/index.js"></script>
  {% block javascript %}{% endblock %}
</body>
</html>
