{# send.twig #}
{% extends "layout.twig" %}
{% set page = 'messenger' %}

{% block main %}
  <div class="login">
    <div class="login__overlay"></div>
    <form action="" class="login__form">
      <span class=login__title>Noto <i>Space</i></span>
      <input type="text" placeholder="Enter the code" class="login__input">
      <button class="login__button" type="submit">Ok</button>
      <span class="login__error"></span>
    </form>
  </div>
  <span class="label">today</span>
  <div class="rooms"></div>

  <form class="message" action="">
    <label for="message__input">Send Message</label>
    <input id="message__input" class="input message__input" autocomplete="off" /><button>Send</button>
  </form>
  <form action="" class="room__form">
    <label for="room__input">Create Room</label>
    <input id="room__input" class="input room__input" autocomplete="off" /><button>Send</button>
  </form>
  <ul class="user"></ul>
{% endblock %}
