<!doctype html>
<html>
  <head>
    <title>Notoboard</title>
    <link rel="stylesheet" href="http://localhost:8000/css/style.css">
  </head>
  <body style="background-color: #2F63A4;">
    <ul class="messages"></ul>
    <div class="rooms"></div>
    <span class="user"></span>
    <script src="js/notoboard.js"></script>
  </body>
</html>
