{# notoboard.twig #}
{% extends "layout.twig" %}

{% block main %}
  <ul class="messages"></ul>
  <div class="rooms"></div>
  <ul class="user"></ul>
{% endblock %}

{% block javascript %}
  <script src="js/notoboard.js"></script>
{% endblock %}
