{# send.twig #}
{% extends "layout.twig" %}

{% block main %}
  <div class="code">
    <form class="code__form" action="">
      <label for="code__input">What's your code?</label>
      <h3>Noto<strong>Space</strong></h3>
      <input id="code__input" type="number" class="code__input input" autocomplete="off" />
      <div class="code__error"></div>
      <button>Ok</button>
    </form>
  </div>
  <form class="message" action="">
    <label for="message__input">Send Message</label>
    <input id="message__input" class="input message__input" autocomplete="off" /><button>Send</button>
  </form>
  <form class="room" action="">
    <label for="room__input">Create Room</label>
    <input id="room__input" class="input room__input" autocomplete="off" /><button>Send</button>
  </form>
  <ul class="rooms"></ul>
  <ul class="user"></ul>
{% endblock %}

{% block javascript %}
  <script src="js/send.js"></script>
{% endblock %}
