<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notoboard</title>
    <link rel="stylesheet" href="http://localhost:8000/css/style.css">
    <style>
      form input { border: 1px solid black; padding: 10px; margin-right: .5%; width: 100%;}
    </style>
  </head>
  <div class="rooms"></div>
  <body>
    <div class="code">
      <form class="code__form" action="">
        <label for="code__input">What's your code?</label>
        <h3>Noto<strong>Space</strong></h3>
        <input id="code__input" type="number" class="code__input input" autocomplete="off" />
        <div class="code__error"></div>
        <button>Ok</button>
      </form>
    </div>
    <form class="message" action="">
      <label for="message__input">Send Message</label>
      <input id="message__input" class="input message__input" autocomplete="off" /><button>Send</button>
    </form>
    <form class="room" action="">
      <label for="room__input">Create Room</label>
      <input id="room__input" class="input room__input" autocomplete="off" /><button>Send</button>
    </form>
    <div class="rooms"></div>
    <ul class="user"></ul>
    <script src="js/send.js"></script>
  </body>
</html>
