{# notoboard.twig #}
{% extends "layout.twig" %}
{% set page = 'space' %}

{% block main %}
  <ul class="messages"></ul>
  <div class="rooms"></div>
  <ul class="user"></ul>
  <ul class="writers"></ul>
{% endblock %}
