{# index.twig #}
{% extends "layout.twig" %}
{% set page = 'storytelling' %}

{% block main %}
  <div class="storyTelling">
    <div class="storyTelling__sections">
      <section class="storyTelling__section">
        <div class="storyTelling__wrapper">
          <div class="storyTelling__content">
            <h1 class="storyTelling__title">History</h1>
            <p class="storyTelling__text">
              Human beings have always been looking for a way to interact with each other.<br><br>
              As of today, there are more than 7.000
              languages to <span class="storyTelling__wheel">discover the world.</span><br><br>
              <span class="storyTelling__italic">Yet, one problem is still holding us back…</span>
              <span class="storyTelling__hiddingOnMobile">The Tofu.</span>
            </p>
          </div>
          <div class="storyTelling__figure storyTelling__figure--history">
            <p><span class="storyTelling__hiddingOnDesktop">the<br></span>Tofu</p>
            <div></div>
            <img src="img/rosette.png" alt="Rosetta stone greyscale image"/>
            <img src="img/babel.png" alt="Babel tower greyscale image"/>
          </div>
        </div>
      </section>
      <section class="storyTelling__section">
        <div class="storyTelling__wrapper">
          <div class="storyTelling__content">
            <h1 class="storyTelling__title">Context</h1>
            <p class="storyTelling__text">
              Most of the content we read is written with the Latin alphabet,
              but there are many others used around the world.
              <span>Sometimes, you end up with </span><span class="storyTelling__wheel">a Tofu</span>.<br><br>
              So... what happens when you want to display a text in Malayalam or in Cherokee ?
              And that’s the same with plenty of the hundreds scripts used around the world.
            </p>
          </div>
          <div class="storyTelling__figure storyTelling__figure--history">
            <p><span class="storyTelling__hiddingOnDesktop">Say no<br>to </span>tofus!</p>
            <div></div>
            <!-- <p>□</p> -->
            <img src="img/people.png" alt="Greyscale picture of a group in a crowd"/>
          </div>
        </div>
      </section>
      <section class="storyTelling__section">
        <div class="storyTelling__wrapper">
          <div class="storyTelling__content">
            <h1 class="storyTelling__title">Meaning</h1>
            <p class="storyTelling__text">
              That’s why we at Google, decided to create: NOTO.
              NOTO stands for <strong>NO</strong> more <strong>TO</strong>fu.<br>
              Because we want people to be able to share, read, write, anything they want, in any language they want.
              Noto aims to encompasses every written language in the world, living and dead.<br>
              The font is a unified set of typesets and writing systems with a harmonious look and feel, that includes over 800 languages and 100 written scripts from Latin, Cyrillic and Hebrew to Egyptian Hieroglyphs, Cherokee and even Emoji 😱.<br>
              Because we want you to be able to communication across borders, languages, cultures and time periods.
            </p>
          </div>
          <div class="storyTelling__figure storyTelling__figure--history">
            <p><span class="storyTelling__hiddingOnDesktop">One font<br></span>for all!</p>
            <div></div>
            <!-- <p>□</p> -->
            <img src="img/earth.png" alt="Picture of hands holding the earth"/>
          </div>
        </div>
      </section>
    </div>
  </section>
{% endblock %}
