{# test.twig #}
{% extends "layout.twig" %}

{% block main %}
  <span style="font-family: 'Noto Naskh Arabic'">صباح الخير</span>
  <span style="font-family: 'Noto Naskh Hebrew'">שלום</span>
  <span>привет</span>
  <span style="font-family: 'Noto Sans Cypriot'">χαίρω</span>
  <span style="font-family: 'Noto Sans CJKjp'">もしもし</span>
{% endblock %}
