{# thanks.twig #}
{% extends "layout.twig" %}
{% block main %}
  <div class="thanks__section">
    <div class="thanks__wrapper">
      <div class="thanks__card">
        <img class="thanks__img" src="img/wof.png" alt="">
        <div class="thanks__content">
          <h1 class="thanks__title">This was Noto.</h1>
          <p class="thanks__subtitle">And here’s the people who made it possible.</p>
          <p class="thanks__paragraph">We thank you for listening to our story. Don’t wait no more to be part of it and enter the Noto SPACE to share your word !</p>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
