{# thanks.twig #}
{% extends "layout.twig" %}
{% set page = 'credits' %}

{% block main %}
  <div class="thanks__section">
    <div class="thanks__wrapper">
        <img class="thanks__img" src="img/monotype.jpg" alt="">
        <div class="thanks__content">
          <h1 class="thanks__title">This was Noto.</h1>
          <!-- <p class="thanks__subtitle">And here’s the people who made it possible.</p> -->
          <p class="thanks__paragraph">And here’s the people who made it possible.<br>
            We thank you for listening to our story. Don’t wait no more to be part of it and enter the Noto SPACE to share your word !</p>
          <a class="thanks__button" href="space.html">Access to Noto <span class="thanks__button__text--italic">space</span> </a>
        </div>
        <div class="thanks__social">
          <a href="https://twitter.com/google" target="_blank"><img class="thanks__social--twitter" src="img/twitter.svg" alt=""></a>
          <a href="https://plus.google.com/+google" target="_blank"><img class="thanks__social--google" src="img/g+.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
